@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-accademia-dark text-accademia-text font-sans antialiased;
  min-height: 100vh;
}

/* Override scrollbar per Chrome/Safari/Edge */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}